.woocomerce-shop{
    .woocomerce-box{
        padding: 1rem;
      .woocomerce-title{
        width: 60%; 
        max-width: 1000px;
        min-width: 280px;
        margin: 0 auto;
      }
      .field{
        width: 50%;
        max-width: 1000px;
        min-width: 280px;
        margin: 0 auto;
        input{
          background-color: rgba(251, 185, 50, 1);
        }
        input::placeholder{
          color: $dark;
        }
      }
      .woocommerce-explorer{
        margin: 0 auto;
        li{
          background-color: transparent;
          a{
            color: $dark;
          }
          &:hover{
            background-color: $info;
            & > a{
              color: $light;
            }
          }
        }
      }
    }
  }