.cotizacion{
    .table-products{
      border-radius: 20px 20px 0 0;
      box-shadow: none;
      overflow: hidden;
      margin-bottom: 0;
      .input-quantity{
        margin-top: 0!important;
        width: 4rem !important;
      }
    }
    .table-total{
      border-top: 1px solid $grey-lighter;
      padding: 2rem;
      border-radius: 0 0 20px 20px;
      background-color: $light;
    }
  }